In [3]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("JupyterSpark")
    .master("local[*]")
    .getOrCreate()
)

spark

In [4]:
import pandas as pd
from pyspark.sql import SparkSession

df = pd.read_csv("superstore_dataset.csv")
pd.set_option('display.max_columns', None)

df.head()

,Unnamed: 0,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Delivery Days,order year,order month
0,0,CA-2014-AB10015140-41954,11-11-2014,13-11-2014,First Class,AB-100151402,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221,2,0.0,62,40,High,2,2014,11
1,1,IN-2014-JR162107-41675,05-02-2014,07-02-2014,Second Class,JR-162107,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,-288,923,Critical,2,2014,2
2,2,IN-2014-CR127307-41929,17-10-2014,18-10-2014,First Class,CR-127307,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium,1,2014,10
3,3,ES-2014-KM1637548-41667,28-01-2014,30-01-2014,First Class,KM-1637548,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,-96,910,Medium,2,2014,1
4,4,SG-2014-RH9495111-41948,05-11-2014,06-11-2014,Same Day,RH-9495111,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical,1,2014,11

In [5]:
print(df.dtypes)

Unnamed: 0          int64
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales               int64
Quantity            int64
Discount          float64
Profit              int64
Shipping Cost       int64
Order Priority     object
Delivery Days       int64
order year          int64
order month         int64
dtype: object

In [6]:
dtype_mapping = {
    'Order ID' : 'string',
    'Order Date' : 'string',
    'Ship Date' : 'string',        
    'Ship Mode' : 'string',         
    'Customer ID' : 'string',        
    'Customer Name' : 'string',     
    'Segment' : 'string',            
    'City': 'string',                   
    'State': 'string',                  
    'Country': 'string',                
    'Region': 'string',                 
    'Market': 'string',                 
    'Product ID' : 'string',          
    'Category': 'string',               
    'Sub-Category': 'string',           
    'Product Name': 'string',           
    'Sales' : 'int64',                 
    'Quantity' : 'int64',              
    'Discount' : 'float64',              
    'Profit': 'string',                     
    'Shipping Cost' : 'int64',       
    'Order Priority': 'string',         
    'Delivery Days': 'int64',           
    'order year' : 'string',       
    'order month': 'string'         
}

# Change the data types
df = df.astype(dtype_mapping)

print("\nNew Data Types:")
print(df.dtypes)

New Data Types:
Unnamed: 0                 int64
Order ID          string[python]
Order Date        string[python]
Ship Date         string[python]
Ship Mode         string[python]
Customer ID       string[python]
Customer Name     string[python]
Segment           string[python]
City              string[python]
State             string[python]
Country           string[python]
Region            string[python]
Market            string[python]
Product ID        string[python]
Category          string[python]
Sub-Category      string[python]
Product Name      string[python]
Sales                      int64
Quantity                   int64
Discount                 float64
Profit            string[python]
Shipping Cost              int64
Order Priority    string[python]
Delivery Days              int64
order year        string[python]
order month       string[python]
dtype: object

In [7]:
df['Segment'].unique()

<StringArray>
['Consumer', 'Corporate', 'Home Office']
Length: 3, dtype: string

In [8]:
df['Market'].unique()

<StringArray>
['USCA', 'Asia Pacific', 'Europe', 'Africa', 'LATAM']
Length: 5, dtype: string

In [ ]:
df["month"] = pd.to_datetime(df["order month"], format="%m").dt.strftime("%B")
df["order_year"] = df["order year"]
df["Order_ID"] = df["Order ID"]
df["order_date"] = pd.to_datetime(
    dict(year=df["order_year"], month=df["order month"], day=1)
)

df.head()

,Unnamed: 0,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Delivery Days,order year,order month,month,order_year,Order_ID,order_date
0,0,CA-2014-AB10015140-41954,11-11-2014,13-11-2014,First Class,AB-100151402,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221,2,0.0,62,40,High,2,2014,11,November,2014,CA-2014-AB10015140-41954,2014-11-01
1,1,IN-2014-JR162107-41675,05-02-2014,07-02-2014,Second Class,JR-162107,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,-288,923,Critical,2,2014,2,February,2014,IN-2014-JR162107-41675,2014-02-01
2,2,IN-2014-CR127307-41929,17-10-2014,18-10-2014,First Class,CR-127307,Craig Reiter,Consumer,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,919,915,Medium,1,2014,10,October,2014,IN-2014-CR127307-41929,2014-10-01
3,3,ES-2014-KM1637548-41667,28-01-2014,30-01-2014,First Class,KM-1637548,Katherine Murray,Home Office,Berlin,Berlin,Germany,Western Europe,Europe,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892,5,0.1,-96,910,Medium,2,2014,1,January,2014,ES-2014-KM1637548-41667,2014-01-01
4,4,SG-2014-RH9495111-41948,05-11-2014,06-11-2014,Same Day,RH-9495111,Rick Hansen,Consumer,Dakar,Dakar,Senegal,Western Africa,Africa,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832,8,0.0,311,903,Critical,1,2014,11,November,2014,SG-2014-RH9495111-41948,2014-11-01

In [10]:
df.to_csv('superstore_df.csv')

In [ ]:
# Pandas to Spark
df_spark = spark.createDataFrame(df)

df_spark.createOrReplaceTempView("orders")

market_totals_df = spark.sql("""
    SELECT Market, Category, SUM(Sales), SUM(Profit)
    FROM orders
    GROUP BY Market, Category
    ORDER BY Market, Category
"""     
)

market_totals_df.show()
market_totals_df_pd = market_totals_df.toPandas()

+------------+---------------+----------+-----------+
|      Market|       Category|sum(Sales)|sum(Profit)|
+------------+---------------+----------+-----------+
|      Africa|      Furniture|    194346|    16093.0|
|      Africa|Office Supplies|    265233|    27704.0|
|      Africa|     Technology|    321920|    43886.0|
|Asia Pacific|      Furniture|   1460083|   112783.0|
|Asia Pacific|Office Supplies|   1039442|    91586.0|
|Asia Pacific|     Technology|   1535937|   196507.0|
|      Europe|      Furniture|    889234|    92456.0|
|      Europe|Office Supplies|   1159755|   184761.0|
|      Europe|     Technology|   1232456|   168690.0|
|       LATAM|      Furniture|    810834|    41380.0|
|       LATAM|Office Supplies|    561053|    77918.0|
|       LATAM|     Technology|    787696|   100052.0|
|        USCA|      Furniture|    750954|    20596.0|
|        USCA|Office Supplies|    745998|   128310.0|
|        USCA|     Technology|    861081|   151914.0|
+------------+---------------+----------+-----------+

In [ ]:
country_totals_df = spark.sql("""
    SELECT Country, Category, SUM(Sales), SUM(Profit)
    FROM orders
    GROUP BY Country, Category
    ORDER BY Country, Category
"""     
)

country_totals_df.show()
country_totals_df_pd = country_totals_df.toPandas()

+-----------+---------------+----------+-----------+
|    Country|       Category|sum(Sales)|sum(Profit)|
+-----------+---------------+----------+-----------+
|Afghanistan|      Furniture|     11279|     2790.0|
|Afghanistan|Office Supplies|      3911|     1110.0|
|Afghanistan|     Technology|      6455|     1530.0|
|    Albania|      Furniture|       835|      244.0|
|    Albania|Office Supplies|       607|      137.0|
|    Albania|     Technology|      2439|      320.0|
|    Algeria|      Furniture|      8412|     2081.0|
|    Algeria|Office Supplies|     14005|     3400.0|
|    Algeria|     Technology|     13571|     3526.0|
|     Angola|      Furniture|      8722|     2046.0|
|     Angola|Office Supplies|      8134|     2156.0|
|     Angola|     Technology|      8640|     2233.0|
|  Argentina|      Furniture|     23476|   -10939.0|
|  Argentina|Office Supplies|     13363|    -3049.0|
|  Argentina|     Technology|     20476|    -4576.0|
|    Armenia|      Furniture|       136|       66.0|
|    Armenia|Office Supplies|        20|        2.0|
|  Australia|      Furniture|    338952|    24589.0|
|  Australia|Office Supplies|    244958|    31109.0|
|  Australia|     Technology|    339897|    47582.0|
+-----------+---------------+----------+-----------+
only showing top 20 rows

In [ ]:
# Orders by month
country_monthly_sales_df = spark.sql("""
    SELECT Country, Category, Sales, Profit, order_date
    FROM orders
    ORDER BY order_date
"""     
)

country_monthly_sales_df.show()
country_monthly_sales_df_pd = country_monthly_sales_df.toPandas()

+--------------+---------------+-----+------+-------------------+
|       Country|       Category|Sales|Profit|         order_date|
+--------------+---------------+-----+------+-------------------+
|     Indonesia|Office Supplies|   50|     6|2012-01-01 00:00:00|
|     Australia|Office Supplies|  276|   110|2012-01-01 00:00:00|
|   New Zealand|Office Supplies|  420|   147|2012-01-01 00:00:00|
|       Hungary|Office Supplies|  142|    63|2012-01-01 00:00:00|
| United States|Office Supplies|   19|     4|2012-01-01 00:00:00|
|       Hungary|     Technology|  588|   276|2012-01-01 00:00:00|
|        Mexico|      Furniture|  195|   -34|2012-01-01 00:00:00|
|        Angola|      Furniture| 2478|    49|2012-01-01 00:00:00|
|         Italy|Office Supplies|   41|     2|2012-01-01 00:00:00|
|        Brazil|      Furniture| 1648|   609|2012-01-01 00:00:00|
|        Turkey|Office Supplies|  318|  -254|2012-01-01 00:00:00|
|         China|     Technology| 2173|   260|2012-01-01 00:00:00|
|      Thailand|Office Supplies|   12|    -5|2012-01-01 00:00:00|
|   New Zealand|     Technology|  912|  -319|2012-01-01 00:00:00|
|        France|      Furniture|  119|  -143|2012-01-01 00:00:00|
|       Estonia|     Technology| 1302|   286|2012-01-01 00:00:00|
|       Morocco|Office Supplies|   95|    23|2012-01-01 00:00:00|
|   New Zealand|      Furniture| 1917|   517|2012-01-01 00:00:00|
|          Iran|     Technology|  256|   102|2012-01-01 00:00:00|
|United Kingdom|      Furniture| 1384|    13|2012-01-01 00:00:00|
+--------------+---------------+-----+------+-------------------+
only showing top 20 rows

In [ ]:
# Orders by month
monthly_sales_df = spark.sql("""
    SELECT SUM(Sales), SUM(Profit), order_date
    FROM orders
    GROUP BY order_date
    ORDER BY order_date
"""     
)

monthly_sales_df.show()
monthly_sales_df_pd = monthly_sales_df.toPandas()

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\py4j\clientserver.py", line 535, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt
ERROR:py4j.clientserver:Exception occurred while shutting down connection
Traceback (most recent call last):
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\py4j\clientserver.py", line 535, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Carlos\AppData\Local\Programs\Python\Python310\lib\site-packages\py4j\clientserver.py", line 506, in shutdown_socket
    self.socket.sendall(("%s\n" % local_port).encode("utf-8"))
ConnectionAbortedError: [WinError 10053] An established connection was aborted by the software in your host machine

KeyboardInterrupt: